name: Build and push Docker image to dockerhub
on:
  workflow_dispatch:
  schedule:
    - cron:  '30 4 * * *'
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      
    - name: Get current version from Dockerfile
      id: version
      run: echo "CURRENT_VERSION=$(grep 'FROM snakemake/snakemake:' Dockerfile | sed 's/.*://' | sed 's/^v//')" >> $GITHUB_OUTPUT

    - name: Get latest Snakemake version from GitHub Releases
      id: snakemake_version
      run: |
        LATEST_SNAKEMAKE_VERSION=$(curl -s "https://api.github.com/repos/snakemake/snakemake/releases/latest" | jq -r '.tag_name' | sed 's/^v//')
        echo "LATEST_SNAKEMAKE_VERSION=${LATEST_SNAKEMAKE_VERSION}" >> $GITHUB_OUTPUT


    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push to Docker Hub
      uses: docker/build-push-action@v6
      with:
       context: .
       push: true
       tags: broome/genetics-tools:v9.14.6.0
